@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&family=Pacifico&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #f9fafb;
    min-width: 360px;
  }

  html {
    font-family: "Inter", sans-serif;
  }
}
